.main{
    width: 600px;
    height: 300px;

}
.row{
    width: 600px;
    height: 150px;
    background-color: skyblue;
}
.row1{
    width: 300px;
    height: 150px;
    float: left;
    background-color: greenyellow;
}
.row2{
    width: 300px;
    height: 150px;
    float: right;
    background-color: red;
}
.row22{
    width: 600px;
    height: 300px;
}
.col1{
    width: 300px;
    height: 150px;
    float: left;
    background-color: blueviolet;

}
.col2{
    width: 300px;
    height: 150px;
    float: right;
    background-color: brown;
}

.image{
    width: 800px;
    height: 200px;
    border: 5px solid black;
    background-image: url('RR.jpg');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-position: top right;
    background-size: cover;
}
.image1{
    width: 800px;
    height: 200px;
    border: 5px solid black;
    background-image: url('RR.jpg');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-position: top right;
    background-size: cover;
}
/* padding */
.flag{
    width: 960px; /* age 1000px nicilam akn 960px  nilam karon amra left and right side a padding a 20px kore 40px pixel kombe width teke 40px komailam
     */
    height: 360px; /* age 400 nicilam akn 960px  nilam karon amra top and  side a padding a 20px kore 40px pixel kombe height teke 40px komailam
*/
    padding: 20px;
    font-size: 50px;
    background-color: forestgreen; 

}

.flag2{
    width: 960px;
    height: 360px;
    background: url("RR.jpg") fixed;
    border: 2px solid pink;
   
    background-size: cover;
}
/* text-shadow */
.shadow{
    background-color: white;
}
.h1{
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 2px 0px 1px rgb(120, 58, 58);
}
/* box-shadow */
/* all divition a joto  px dibo char dike toto px  blur hoye jabe.  jodi amra char pase shadow  chai tahole amra 4 no perameter use korbo */
.box{
    background-color: rgb(148, 110, 110);
    width: 800px;
    height: 400px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0px 0px 4px 2px black inset;
}
